<%= form_for @minimum_spanning_tree, html: { id: "minimum_spanning_tree_form", class: "form-group" } do |f| %>


  <div class="form-group field">
    <% if @minimum_spanning_tree.errors.any? %>
        <div class="has-error">
          <p><%= pluralize(@minimum_spanning_tree.errors.count, "error") %> prohibited this Minimum Spanning Tree from being saved:</p>

            <% @minimum_spanning_tree.errors.full_messages.each do |message| %>
                <label class="control-label"><%= message %></label>
            <% end %>
          <%= f.text_field :name, placeholder: "Input a name for your minimum spanning tree", class: "form-control mst-name-input"%>
        </div>

    <% else %>
        <%= f.text_field :name, placeholder: "Input a name for your minimum spanning tree", class: "form-control mst-name-input"%>
    <% end %>

  </div>

    <div class="panel panel-default empty-location-holder js-empty-location-holder">
      <div class="panel-body">
      <p class="lead">
        <span class="text-muted">
          Your selected locations will appear here.
        </span>
      </p>
      </div>
    </div>
    <div class="location-list">
      <ul id="mst-input-list" class="list-group">
        <% @minimum_spanning_tree.places.each do |place| %>
            <li class="list-group-item location-address" role="alert">
              <button type="button" class="close delete-place" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="address-input"><%= place.name %></div>
            </li>
        <% end %>
      </ul>
    </div>


    <% @minimum_spanning_tree.places.each do |place| %>
        <%= f.hidden_field :place_names, :multiple => true , :value => place.name  %>
    <% end %>


    <div class="actions">
      <%= f.submit "Caclulate my Minimum Spanning Tree", class: "btn btn-success" %>
    </div>
<% end %>
