<div class="marketing">

  <div class="index-buttons">
    <%= link_to 'New Minimum spanning tree', new_minimum_spanning_tree_path, class: "btn btn-success index-button-right" %>

    <%= will_paginate @minimum_spanning_trees, renderer: BootstrapPagination::Rails %>
  </div>


  <div class="row featurette">

    <div class= col-md-12>

      <ul class="list-group">
        <% @minimum_spanning_trees.each do |minimum_spanning_tree| %>
            <li class="list-group-item">
              <%= minimum_spanning_tree.name %>
              <div class="rails-index-select"><%= link_to 'Destroy', minimum_spanning_tree, method: :delete, data: { confirm: 'Are you sure?' } %></div>
              <div class="rails-index-select"><%= link_to 'Edit', edit_minimum_spanning_tree_path(minimum_spanning_tree) %></div>
              <div class="rails-index-select"><%= link_to 'Show', minimum_spanning_tree %></div>
            </li>

        <% end %>

      </ul>

    </div>


    </div>

  </div>




